{
  "env": {
    "jest": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "globals": {
    "Blob": true,
    "FileReader": true,
    "FormData": true,
    "document": true,
    "localStorage": true,
    "navigator": true,
    "window": true
  },
  "plugins": [
    "prettier",
    "react"
  ],
  "rules": {
    "camelcase": 0,
    "global-require": 0,
    "import/imports-first": [
      "error",
      "absolute-first"
    ],
    "import/newline-after-import": "error",
    "import/prefer-default-export": 0,
    "no-underscore-dangle": 0,
    "prettier/prettier": [
      "error"
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      }
    }
  }
}
